{% extends 'base.html' %}


{% block head %}

<title>Inventory Managment</title>

{% endblock%}

{% block body %}

<div class='div_content' style="width:400px; margin: 0 auto; display: flex; flex-direction: column; margin-top: 400px;">
    <form action='/product' >
        <input type="submit" value="Add Product" >
    </form>
    <form action='/location'style="margin-top: 20px ;">
        <input type="submit" value="Add Location" >
    </form>
    <form action='/proMovement' style="margin-top: 20px ;">
        <input type="submit" value="Add ProductMovement">
    </form>
    <form action='/ProductBalance'  method="POST" style="margin-top: 20px ;">
        <input type="submit" value="Product Balance">
    </form>
</div>


{% endblock%}