{% extends 'base.html' %}


{% block head %}

<title>Inventory Managment</title>

{% endblock%}

{% block body %}

<div class='div_content' style="margin-top: 150px;">
    <h1 style="text-align: center ; color: cornsilk; font-size:xx-large; margin-top: -30px;" >Inventory Managment </h1>
    <form action='/product'  >
        <input type="submit" value="Add Product" style="font-size: large; background-color: #828ede; border: double; color: floralwhite; width: 35%; height: 80px;" >
    </form>
    <form action='/location'style="margin-top: 20px ;">
        <input type="submit" value="Add Location" style=" font-size: large; background-color: #828ede; border: double; color: floralwhite; width: 35%; height: 80px;" >
    </form>
    <form action='/proMovement' style="margin-top: 20px ;">
        <input type="submit" value="Add ProductMovement" style=" font-size: large; background-color: #828ede; border: double; color: floralwhite; width: 35%; height: 80px;">
    </form>
    <form action='/ProductBalance'  method="POST" style="margin-top: 20px ;">
        <input type="submit" value="Product Balance" style=" font-size: large; background-color: #828ede; border: double; color: floralwhite; width: 35%; height: 80px;">
    </form>
</div>


{% endblock%}