{% extends 'base.html' %}


{% block head %}

<title>Inventory Managment</title>

{% endblock%}

{% block body %}
<div class='div_content'style="width:400px; margin: 0 auto; margin-top: 150px; border: double;background-color: #202548; padding: 44px; ">
   
    
    <h1 style="text-align: center;  color: cornsilk; font-size:xx-large; margin-top: -10px;"> Update Product-Movement </h1>
    
    <div class="form" style=" margin-top: 30px; text-align: center;">
    <form action='/updateMovement/{{productm.id}}' method="POST" >
        <input type="text" name="from" id="from" value="{{productm.from_location}}"  style="text-align: center; margin-left: 10px; width: 90%; margin-bottom: 17px; height: 40px;border: double; font-weight: 600; font-size: large; color:#202548; border-block-color: revert; margin-right: 10px;"><br><br>
        <input type="text" name="to" id="to"  value="{{productm.to_location}}" style="text-align: center; margin-left: 10px; width: 90%; margin-bottom: 17px; height: 40px;border: double; font-weight: 600; font-size: large; color:#202548; border-block-color: revert; margin-right: 10px;"><br><br>
        <input type="text" name="pro_qty" value="{{productm.qty}}"   id="pro_qty" style="text-align: center; margin-left: 10px; width: 90%; margin-bottom: 17px; height: 40px;border: double; font-weight: 600; font-size: large; color:#202548; border-block-color: revert; margin-right: 10px;"><br><br>
        <input type="text" name="pro_id"  value="{{productm.product_id}}" id="pro_id" style="text-align: center; margin-left: 10px; width: 90%; margin-bottom: 17px; height: 40px;border: double; font-weight: 600; font-size: large; color:#202548; border-block-color: revert; margin-right: 10px;">
        <input type="submit" value="UpDate" style=" font-size: 25px; background-color: #49528e; border: double; color: floralwhite; width:40%; height: 45px;">

    </form>
    <br>
    <form action='/proMovement' >
        <input type="submit" value="Back" style="margin-bottom: 40px; font-size: 25px; background-color: #49528e; border: double; color: floralwhite; width:40%; height: 45px;">
    </form>
</div>

</div>
{% endblock%}